
html, body {
  height: 100%;
  margin: 0 0 0 0;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-style: light;
  font-size: 1em;
  line-height: 150%;

--maincolor: #f0b90b;
--neutral: darkgray;
}

.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  }

header {
  display: none;
  justify-content: space-between;
  height: 100px;
  background-color: black;
  align-items: center;
  padding: 0px 36px;
}

.box {
  display: flex;
	align-items: center;
	justify-content: center;
}

.col1 {
  display: flex;
  background-color: blue;
  flex: 1;
  background-image: url(/5851943.png);
  background-position: center;
  object-fit:cover;
}

.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 12, 12);
  flex: 1;
}

.col3 {
  display: flex;
  background-color: darkslateblue;
  flex: 1; 
  padding: 24px;}

  @media only screen and (max-width: 900px) {
  
    .col3 {
      display: none;}
    
    .col1 {
      display: none;}

    .col2 {
      background-image: url(/5851943.png);
      background-position: center;
      object-fit: cover;
      font-size: 14px;}

      .form {
        padding: 10px;
      }
      
  }



.form {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background-color: rgba(23, 23, 23, 0.97);
  border-radius: 10px;
}

.logo {
  height: 30px;
}

.cadastro {
  background-color: #f0b90b;
  outline: none;
  border: none;
  text-align: center;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 24px;
  color: black;
  align-items: center;
  gap: 8px;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #e9e9e9;
  outline: none;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  color: black;
  margin-top: 24px;
}
.google {  
  display: flex;
  width: 24px;
  }

  .amarelo {
    color: var(--maincolor);
  }

  a:link {
    color: var(--maincolor);
  }

  a:hover {
    color:var(--neutral);
  }

  a:visited {
    color:#735b0c;
  }

  a:active {
    color:#735b0c;
  }